# Visual Studio
.vs/
**/.vs/
**/bin/
**/obj/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


# Local config - không commit
**/appsettings.Development.json